.forget-password-page {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .form-header {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5rem;

        .avatar-lock {
            background-color: black;
            margin-bottom: 0.75rem;
        }

        h1 {
            margin-bottom: 0.5rem;
        }

        .welcome-message {
            color: rgba(0, 0, 0, 0.6);
        }
    }

    form {
        width: 100%;

        .form-input {
            margin-bottom: 1.5rem;

            .MuiInputBase-root {
                color: black;
                &.Mui-focused {
                    border-color: black;
                }
            }
        }

        .login-link {
            text-align: center;
        }
    }
}
