{% extends "layout/base.html.jinja" %}
{% block title %}
Login Page
{% endblock title %}
{% block content %}

<body>
    <div class="container">
        <form method="POST" class="form-signin">
            {{ form.hidden_tag() }}
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <div class="checkbox mb-3">
                <h6 style="display: inline;">Don't have an account?</h6>
                <a href="{{ url_for('register_page') }}"
                    style="color: #6c757d; margin-left: 3px; text-decoration: none;">Sign Up</a>
            </div>
        </form>
    </div>
</body>
{% endblock content %}