{% extends "layout/base.html.jinja" %}
{% block title %}
Users Page
{% endblock title %}

{% block content %}
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Budget</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.budget }}$</td>
            <td>
                <button class="btn btn-outline btn-info">Edit</button>
                <button class="btn btn-outline btn-danger">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}