.product-card {
    max-width: 345px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: none !important;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    &:hover {
        transform: scale(1.02);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15) !important;
    }
    .card-media-box {
        position: relative;
        .card-media {
            height: 250px;
            object-fit: contain;
        }
        .category-badge {
            position: absolute;
            top: 16px;
            right: 16px;
            color: white;
            background-color: rgba(0, 0, 0, 0.6);
            padding: 4px 8px;
            border-radius: 30px;
        }
    }

    .card-content {
        .card-title {
            font-size: large;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .card-rating {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .rating-section {
                display: flex;
                align-items: center;
                .star-icon {
                    color: #ffd700;
                }
                .rating-number {
                    margin-left: 0.5rem;
                }
            }
            .price-section {
                display: flex;
                align-items: center;
                margin-left: auto;
                .original-price {
                    text-decoration: line-through;
                    color: gray;
                    margin-right: 8px;
                }
                .discount-price {
                    font-weight: bold;
                    font-size: x-large;
                }
                .normal-price {
                    color: #333;
                    font-weight: bold;
                    font-size: large;
                }
            }
            @media (max-width: 744px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .card-actions {
        padding-bottom: 16px;

        .MuiButton-root {
            border-radius: 30px;
            text-transform: none;
            width: 100%;
            padding: 12px 0;

            &.MuiButton-outlined {
                color: black;
                border-color: black;
            }

            &.MuiButton-contained {
                background-color: black;
                color: white;
            }
        }
    }
}
